{% load static %}
<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Questionnaire system. Test work for chatbots.studio</title>	
	
	<link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css">
	{% block extracss %}
	{% endblock %}
</head>
<body>
	<header v-cloak>
		<div class="left-side">
		</div>
		
		<div class="right-side" >
			{% if request.user.is_authenticated %}
				<div id="dialogs_block">
					
						<div class="my-list-but but border-but" @click="getUserDialogs">Completed questionnaires</div>
						<div class="dialogs" v-if="show">
							<div id="dialogs-scroll">
								<p @click="show = false" class="close">X Close</p>
								<p v-for="d in dialogs" :id="d.id">${d.to_str}</p>
							</div>
						</div>
					
				</div>
				<a href="/logout/"><div class="but log-out-but">Logout</div></a>
			{% else %}
				<a href="/login/"><div class="login-but but">Login</div></a>
			{% endif %}
		</div>
	</header>
	{% block content %} 
	{% endblock %}
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	window.csrf_token = "{{ csrf_token }}"
</script>
<script src="{% static "js/base.js" %}"></script>

</html>